{% extends "layouts/base.html" %}

{% block title %} ダッシュボード（パーソナル） {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <!-- notification css -->
    <link rel="stylesheet" href="/static/assets/plugins/notification/css/notification.min.css">

    <!-- modal-window-effects css -->
    <link rel="stylesheet" href="/static/assets/plugins/modal-window-effects/css/md-modal.css">

{% endblock stylesheets %}

{% block content %}


    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->

                            <!--[全体的なリマインド・お知らせ] start-->
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5><b>Dropbox Paper links for memo, feedback, etc.</b></h5>
                                        </div>
                                        <!-- <div class="card-block">
                                            <div class="col-xl-12 m-b-10">
                                                <a href="https://www.dropbox.com/scl/fi/diunvfrp33faxltg7r742/Feedback-on-Calendar-V1.paper?dl=0&rlkey=nror6dfhoucpdypjpp7czorqg"
                                                   class="dropbox-embed" data-height="300px" data-width="1200px"></a>
                                            </div>
                                            <div class="col-xl-12 m-b-10">
                                                <a href="https://www.dropbox.com/scl/fi/y8i7914hc87z1fe1qy4a9/Notes-and-ideas-on-Dashboard.paper?dl=0&rlkey=mgf7xomdr454me9gdres0cqmv"
                                               class="dropbox-embed" data-height="300px" data-width="1200px"></a>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>

                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


    <!-- amchart js -->
    <script src="/static/assets/plugins/amchart/js/amcharts.js"></script>
    <script src="/static/assets/plugins/amchart/js/gauge.js"></script>
    <script src="/static/assets/plugins/amchart/js/serial.js"></script>
    <script src="/static/assets/plugins/amchart/js/light.js"></script>
    <script src="/static/assets/plugins/amchart/js/pie.min.js"></script>
    <script src="/static/assets/plugins/amchart/js/ammap.min.js"></script>
    <script src="/static/assets/plugins/amchart/js/usaLow.js"></script>
    <script src="/static/assets/plugins/amchart/js/radar.js"></script>
    <script src="/static/assets/plugins/amchart/js/worldLow.js"></script>

    <!-- notification Js -->
    <script src="/static/assets/plugins/notification/js/bootstrap-growl.min.js"></script>

    <!-- dashboard-custom js -->
    <script src="/static/assets/js/pages/dashboard-custom.js"></script>

    <!-- modal-window-effects Js -->
    <script src="/static/assets/plugins/modal-window-effects/js/classie.js"></script>
    <script src="/static/assets/plugins/modal-window-effects/js/modalEffects.js"></script>

    <script src="/static/assets/plugins/autosize/js/autosize.min.js"></script>
    <script src="/static/assets/plugins/store-js/js/store.min.js"></script>
    <script src="/static/assets/plugins/moment/js/moment.js"></script>
    <script src="/static/assets/plugins/store-js/js/note.js"></script>

    <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="i8gfe0niqubxjj2"></script>


{% endblock javascripts %}
